matsaboli2_aplikacija_2_2/web/WEB-INF/wsdl/localhost_8080/matsaboli2_aplikacija_1/SoapMeteoWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.matsaboli2.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.matsaboli2.nwtis.foi.org/" name="SoapMeteoWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.matsaboli2.nwtis.foi.org/" schemaLocation="http://localhost:8080/matsaboli2_aplikacija_1/SoapMeteoWs?xsd=1" />
</xsd:schema>
</types>
<message name="dajAdresuZaIoT">
<part name="parameters" element="tns:dajAdresuZaIoT" />
</message>
<message name="dajAdresuZaIoTResponse">
<part name="parameters" element="tns:dajAdresuZaIoTResponse" />
</message>
<message name="zadnjiMeteoPodaciZaIoT">
<part name="parameters" element="tns:zadnjiMeteoPodaciZaIoT" />
</message>
<message name="zadnjiMeteoPodaciZaIoTResponse">
<part name="parameters" element="tns:zadnjiMeteoPodaciZaIoTResponse" />
</message>
<message name="dajZadnjihNMeteoPodatakaZaIoT">
<part name="parameters" element="tns:dajZadnjihNMeteoPodatakaZaIoT" />
</message>
<message name="dajZadnjihNMeteoPodatakaZaIoTResponse">
<part name="parameters" element="tns:dajZadnjihNMeteoPodatakaZaIoTResponse" />
</message>
<message name="dajMeteoPodatkeZaIoT">
<part name="parameters" element="tns:dajMeteoPodatkeZaIoT" />
</message>
<message name="dajMeteoPodatkeZaIoTResponse">
<part name="parameters" element="tns:dajMeteoPodatkeZaIoTResponse" />
</message>
<message name="vazeciMeteoPodaciZaIoT">
<part name="parameters" element="tns:vazeciMeteoPodaciZaIoT" />
</message>
<message name="vazeciMeteoPodaciZaIoTResponse">
<part name="parameters" element="tns:vazeciMeteoPodaciZaIoTResponse" />
</message>
<portType name="SoapMeteoWs">
<operation name="dajAdresuZaIoT">
<input wsam:Action="http://ws.matsaboli2.nwtis.foi.org/SoapMeteoWs/dajAdresuZaIoTRequest" message="tns:dajAdresuZaIoT" />
<output wsam:Action="http://ws.matsaboli2.nwtis.foi.org/SoapMeteoWs/dajAdresuZaIoTResponse" message="tns:dajAdresuZaIoTResponse" />
</operation>
<operation name="zadnjiMeteoPodaciZaIoT">
<input wsam:Action="http://ws.matsaboli2.nwtis.foi.org/SoapMeteoWs/zadnjiMeteoPodaciZaIoTRequest" message="tns:zadnjiMeteoPodaciZaIoT" />
<output wsam:Action="http://ws.matsaboli2.nwtis.foi.org/SoapMeteoWs/zadnjiMeteoPodaciZaIoTResponse" message="tns:zadnjiMeteoPodaciZaIoTResponse" />
</operation>
<operation name="dajZadnjihNMeteoPodatakaZaIoT">
<input wsam:Action="http://ws.matsaboli2.nwtis.foi.org/SoapMeteoWs/dajZadnjihNMeteoPodatakaZaIoTRequest" message="tns:dajZadnjihNMeteoPodatakaZaIoT" />
<output wsam:Action="http://ws.matsaboli2.nwtis.foi.org/SoapMeteoWs/dajZadnjihNMeteoPodatakaZaIoTResponse" message="tns:dajZadnjihNMeteoPodatakaZaIoTResponse" />
</operation>
<operation name="dajMeteoPodatkeZaIoT">
<input wsam:Action="http://ws.matsaboli2.nwtis.foi.org/SoapMeteoWs/dajMeteoPodatkeZaIoTRequest" message="tns:dajMeteoPodatkeZaIoT" />
<output wsam:Action="http://ws.matsaboli2.nwtis.foi.org/SoapMeteoWs/dajMeteoPodatkeZaIoTResponse" message="tns:dajMeteoPodatkeZaIoTResponse" />
</operation>
<operation name="vazeciMeteoPodaciZaIoT">
<input wsam:Action="http://ws.matsaboli2.nwtis.foi.org/SoapMeteoWs/vazeciMeteoPodaciZaIoTRequest" message="tns:vazeciMeteoPodaciZaIoT" />
<output wsam:Action="http://ws.matsaboli2.nwtis.foi.org/SoapMeteoWs/vazeciMeteoPodaciZaIoTResponse" message="tns:vazeciMeteoPodaciZaIoTResponse" />
</operation>
</portType>
<binding name="SoapMeteoWsPortBinding" type="tns:SoapMeteoWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="dajAdresuZaIoT">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="zadnjiMeteoPodaciZaIoT">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajZadnjihNMeteoPodatakaZaIoT">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="dajMeteoPodatkeZaIoT">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="vazeciMeteoPodaciZaIoT">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="SoapMeteoWs">
<port name="SoapMeteoWsPort" binding="tns:SoapMeteoWsPortBinding">
<soap:address location="http://localhost:8080/matsaboli2_aplikacija_1/SoapMeteoWs" />
</port>
</service>
</definitions>